body { 
    font-family: Cormorant, serif;
    
}

h1 {
    display: inline-block;
    font-size: 26px;
    font-weight: 300;
}

.links { 
    display: inline-block;
}

li {
    display: inline-block;
}

li a { 
    text-decoration: none;
    color: black;
}